@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Regular";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Heading Pro Trial Extra Light";
  src: url("./fonts/Heading-Pro-ExtraLight-trial.ttf") format("truetype");
}

@font-face {
  font-family: "Heading Pro Trial Light";
  src: url("./fonts/Heading-Pro-Light-trial.ttf") format("truetype");
}

@font-face {
  font-family: "Heading Pro Trial";
  src: url("./fonts/Heading-Pro-Book-trial.ttf") format("truetype");
}

@font-face {
  font-family: "Heading Pro Trial Thin";
  src: url("./fonts/Heading-Pro-Thin-trial.ttf") format("truetype");
}

@font-face {
  font-family: "Heading Pro Trial Bold";
  src: url("./fonts/Heading-Pro-Bold-trial.ttf") format("truetype");
}

@font-face {
  font-family: "Heading Pro Trial Extra Bold";
  src: url("./fonts/Heading-Pro-ExtraBold-trial.ttf");
}

@font-face {
  font-family: "Heading Pro Trial Heavy";
  src: url("./fonts/Heading-Pro-Heavy-trial.ttf");
}

@font-face {
  font-family: "Clover Grotesk Black";
  src: url("./fonts/Clovergrotesk-Black.ttf");
}

@font-face {
  font-family: "Clover Grotesk Light";
  src: url("./fonts/Clovergrotesk-Light.ttf");
}

@font-face {
  font-family: "Clover Grotesk Regular";
  src: url("./fonts/Clovergrotesk-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: "thin";
  scrollbar-color: "#FFFFFF #001F6D";
}

html,
body,
#__next {
  height: 100%;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.padding-button-small {
  @media (max-width: 379px) {
    padding: 12px;
  }
}

.group-\[\.is-splitted\]\:bg-content1 {
  background-color: #001f6d !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #001f6d;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}
